appdirs==1.4.3
asgiref==3.2.5
certifi==2020.4.5.1
chardet==3.0.4
distlib==0.3.0
dj-database-url==0.5.0
-e git+https://github.com/django/django.git@ffde4d5da88da6ed40ffc090503896d329bc67f8#egg=Django
django-heroku==0.3.1
filelock==3.0.12
gunicorn==20.0.4
idna==2.9
psycopg2==2.8.5
pytz==2019.3
requests==2.23.0
six==1.14.0
sqlparse==0.3.1
urllib3==1.25.8
virtualenv==20.0.13
whitenoise==5.0.1
